<!doctype html>
<html lang="en">
  <%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/sideboard.ejs') %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          
          <h1>SaS - Finanzsystem (Test ob das Funktioniert ab 01:00 Uhr sollte Update da sein)</h1>
        </main>
      <%- include('partials/bottom.ejs') %>
  </body>
</html>
